@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Ubuntu&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  background-color:#edf2f8;
}

.card{
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-title{
  font-weight: 900;
}

.card-img-top{
  max-width: 55%;
  margin: 0 auto;
  /* background-color: hsl(263,55%,52%); */

}

.extra-details{
  font-size: 12px;
  color:hsl(219, 29%, 14%);
  
}

/* to move badge on card to left */
.start-100 {              
  left: 90% !important;
}

.hide{
  display: none;
}